Package: com.vortex.pocketposter
Name: PocketPoster
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Companion app for PocketPlayer - import .tendies wallpapers without SSH.
Maintainer: vortex
Author: vortex
Section: Applications
Depends: firmware (>= 15.0)
